<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Gavin Lin</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a> |
            <a href="cv.html" class="nav-link">CV</a> |
            <a href="contact.html" class="nav-link">Contact Me</a> |
            <a href="fun.html" class="nav-link">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact me</h2>
        <form>
            <label for="name">Your name (required)</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Your email (required)</label>
            <input type="email" name ="email" id="email">
            <label for="comment">Your message (required)</label>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            <input type="submit" value="Send" onclick="validate()">
    </form>
    <p id="ValidateMsg"></p>
        <table>
            <tr>
                <th>Contact Method</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>gavinlin@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>+6506665005</td>
            </tr>
        </table>
    </div>
    <footer>
        <p id="copyYear"></p>
        <p>&copy; Designed by Gavin Lin</p>
    </footer>
</body>
</html>