

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Gavin Lin</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a> |
            <a href="cv.html" class="nav-link">CV</a> |
            <a href="contact.html" class="nav-link">Contact Me</a> |
            <a href="fun.html" class="nav-link">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Institution 1</td>
                <td>Carnegie Mellon University</td>
            </tr>
            <tr>
                <td>Institution 2</td>
                <td>Palo Alto High School</td>
            </tr>
            <tr>
                <td>Expierence 1</td>
                <td>Brooks Automation--Application Engineer intern</td>
            </tr>
            <tr>
                <td>Expierence 2</td>
                <td>Earth--A human</td>
            </tr>
            <tr>
                <td>Resume</td>
                <td><a href="../static/Gavin resume.pdf" target="_blank">click to view</a></td>
            </tr>
            
        </table>


    </div>

    <footer>
        2025 designed and coded by Gavin Lin
    </footer>
</body>
</html>