<meta name="author" content="Your name">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Your name professional website">
<title> Lin</title>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial;">
    <header>
        <h1>Gavin Lin</h1>
        <nav>
            <a href="index.html">Home</a> |
            <a href="views/cv.html">CV</a> |
            <a href="views/contact.html">Contact Me</a> |
            <a href="views/fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="3">
            <tr>
                <th>Name</th>
                <th>Description</th>
                    
            </tr>
            <tr>
                <td>Institution 1</td>
                <td>Carnegie Mellon University</td>
            </tr>
            <tr>
                <td>Resume</td>
                <td><a href="../static/Gavin resume.pdf" target="_blank">click to view</a></td>
            </tr>
        </table>


    </div>

    <footer>
        2025 designed and coded by Gavin Lin
    </footer>
</body>
</html>